<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DigitalChalk Brand Guidelines | Standard Logo</title>
	
	<link rel="shortcut icon" href="http://www.digitalchalk.com/wp-content/themes/digitalchalk/lib/img/common/favicon.ico">
	<link rel="apple-touch-icon" href="http://www.digitalchalk.com/wp-content/themes/digitalchalk/lib/img/common/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="http://www.digitalchalk.com/wp-content/themes/digitalchalk/lib/img/common/favicon.png">

	<link href="lib/css/digitalchalk-bootstrap.css" rel="stylesheet">
	<link href="lib/css/digitalchalk.css" rel="stylesheet">
	
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="lib/js/bootstrap.min.js"></script>
	<script src="lib/js/angular.min.js"></script>
	
</head>
<body>

<!--MAIN-MENU-->
<header class="navbar navbar-default navbar-static-top header" role="navigation">
	<div class="container">
		
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">DigitalChalk</a>
		</div>
		
		<!--nav-collapse-->
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Brand <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="logo-standard.html#logo">Logo</a></li>
						<li><a href="logo-standard.html#colors">Colors</a></li>
						<li><a href="logo-standard.html#watermarks">Watermarks</a></li>
					</ul>
				</li>
				<li><a href="email-signature.html">Signature</a></li>
				<li><a href="contact.html">Contacts</a></li>
			</ul>
		</div>
		<!--/nav-collapse-->
		
	</div>
</header>
<!--/MAIN-MENU-->

<!-- ========================================= -->
<!--content-->
<!-- ========================================= -->
<div class="container content">
	<div class="row">
		
		<!--content-main-->
		<div class="col-md-12 content-main">
			
			<!-- ========================================= -->
			<!--LOGO-->
			<h1 class="uppercase">Email Signature Generator</h1>
			<hr>
			<a name="logo"></a>
			<p>Below is an email signature generator. Please provide your name and title. Phone numbers and a Twitter account is optional.</p>
			
			<hr>
			
			<div class="row">
		
		<div class="col-md-5">
			
			<!--input-->
			<h4><b>Step #1:</b> Provide Your Information</h4>
			<div class="input">
				<form class="form-horizontal" role="form">
					
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" class="form-control" placeholder="Name" ng-model="name" ng-model-instant>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" class="form-control" placeholder="Title" ng-model="title" ng-model-instant>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-8">
							<input type="phone" class="form-control" placeholder="Phone #1" ng-model="phone1" ng-model-instant>
						</div>
						<div class="col-sm-4">
							<select class="form-control" ng-model="phone1type" ng-model-instant>
								<option value="office" selected="selected">office</option>
								<option value="direct">direct</option>
								<option value="mobile">mobile</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-8">
							<input type="phone" class="form-control" placeholder="Phone #2" ng-model="phone2" ng-model-instant>
						</div>
						<div class="col-sm-4">
							<select class="form-control" ng-model="phone2type" ng-model-instant>
								<option value="office">office</option>
								<option value="direct" selected="selected">direct</option>
								<option value="mobile">mobile</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" class="form-control" placeholder="Twitter Handle" ng-model="twitter" ng-model-instant>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-12">
							<input type="linkedin" class="form-control" placeholder="LinkedIn URL" ng-model="linkedin" ng-model-instant>
						</div>
					</div>
					
					<div class="checkbox">
						<label>
							<input type="checkbox" id="showLogo" value="true" ng-model="hideLogo"> <b>Disable</b> DigitalChalk Logo <small><em>(for Sales team)</em></small>
						</label>
					</div>
					
				</form>
			</div>
			<!--input-end-->
			
		</div>
		<div class="col-md-1">&nbsp;</div>
		<div class="col-md-5">
			
			<!--output-->
			<h4><b>Step #2:</b> Copy Signature</h4>
			<div class="row">
				<div class="col-md-12" style="background:#fefefe;">
					<div class="asdf">
						<br>
						<br>
						<br>
						<p style="clear:both;font-family:helvetica,arial,sans-serif;font-size:11px;font-weight:300;line-height:16px;color:#7a8286;">
						<img src="http://mailings.digitalchalk.com/mail/_email-signature-digitalchalk.png" style="float:left;margin-right:10px;margin-bottom:30px;" ng-hide="hideLogo">
						<span style="text-transform:uppercase;color:#282c2d;font-weight:bold">{{ name || 'John Doe' }}</span> <span>{{ title || 'Job Title' }} at <a href="http://www.digitalchalk.com" style="color:#576064;text-decoration:none !important;border-bottom:1px dotted #d7dcdf;">DigitalChalk</a></span><br>
						<span>{{ phone1type || 'office' }}: <a href="tel:{{ phone1 || '877-321-2451' }}" style="color:#576064;text-decoration:none !important;border-bottom:1px dotted #d7dcdf;">{{ phone1 || '877-321-2451' }}</a> | {{ phone2type || 'direct' }}: <a href="tel:{{ phone2 || '678-765-6204' }}" style="color:#576064;text-decoration:none !important;border-bottom:1px dotted #d7dcdf;">{{ phone2 || '678-765-6204' }}</a></span><br>
						<span>twitter: <a href="http://twitter.com/{{ twitter || 'DigitalChalk' }}" style="color:#576064;text-decoration:none !important;border-bottom:1px dotted #d7dcdf;">@{{ twitter || 'DigitalChalk' }}</a> | facebook: <a href="https://www.facebook.com/digitalchalk" style="color:#576064;text-decoration:none !important;border-bottom:1px dotted #d7dcdf;">Like Us</a> | <a href="https://www.digitalchalk.com/blog" style="color:#576064;text-decoration:none !important;border-bottom:1px dotted #d7dcdf;">Blog</a> | <a href="{{ linkedin || 'https://www.linkedin.com/company/digitalchalk' }}" style="color:#576064;text-decoration:none !important;border-bottom:1px dotted #d7dcdf;">LinkedIn</a></span>
						<br style="clear:both;" />
						</p>
						<hr style="width:100%;max-width:100px;height:1px;border:0px;margin-right:auto;margin-left:0px;background:#c7cdcf;" />
						<p style="clear:both;font-family:helvetica,arial,sans-serif;font-size:10px;font-weight:300;line-height:14px;color:#9fa6a9;">DigitalChalk regards the contents of this e-mail as confidential. If it is not meant for you, please tell me about my mistake and delete the e-mail. Also be aware that DigitalChalk does not enter into any legally binding obligations by way of an e-mail conversation. We only do so by way of agreements that have been written and reviewed by our legal department. These agreements should also have been signed by the appropriate DigitalChalk personnel.</p>
						<br>
						<br>
					</div>
				</div>
			</div>
			<!--output-end-->
			
		</div>
	
	</div>
	
	<hr>
	
	<div style="padding:20px;background-color:#fafafa;">
		<div class="row">
			<div class="col-md-6">
				<h4><b>Instructions for Gmail</b></h4>
				<ol>
					<li>Open <a href="http://mail.digitalchalk.com" target="_blank"><b>Gmail</b>.</a></li>
					<li>Click the <img src="lib/img/mail_gear.png"> gear in the top right.</li>
					<li>Select <b>Settings</b>.</li>
					<li>Scroll down to the "Signature" section and enter your new signature text in the box. Do this by highlighting and copying your signature from above and pasting it into your Gmail signature text box.</li>
					<li>Click <b>Save Changes</b> at the bottom of the page.</li>
				</ol>
				<p><em>For more help with your signature, read <a href="https://support.google.com/mail/answer/8395?hl=en" target="_blank">Google's instructions</a>.</em></p>
			</div>
			<div class="col-md-6">
				<h4><b>Instructions for Apple Mail</b></h4>
				<ol>
					<li>Open <b>Mail</b></li>
					<li>Select <b>Mail</b> from your toolbar towards the top left hand corner. Then, select <b>Preferences...</b> from the drop down menu.</li>
					<li>Click on the <b>Signatures</b> icon towards the right hand side of the Preferences window.</li>
					<li>Click on your account, and click on the plus <b>+</b> sign.</li>
					<li>Give your new signature a title.</li>
					<li>Cope and paste your signature into the right pane. Copy your signature by highlighting and copying it from above in this page.</li>
					<li>Close the window. Your signature should be ready.</li>
				</ol>
			</div>
		</div>
	</div>
			
		</div>
		<!--/content-main-->
	
	</div>
</div>
<!-- ========================================= -->
<!--/content-->
<!-- ========================================= -->

</body>
</html>