
/* BASE */

h1 { font-weight:800; text-transform:uppercase; font-size:600%; }
h2 { font-weight:700; text-transform:uppercase; letter-spacing:1px; }
h3 { font-weight:700; text-transform:uppercase; letter-spacing:1px; }
h4 { font-weight:400; text-transform:uppercase; letter-spacing:2px; }
h5 { font-weight:700; text-transform:uppercase; letter-spacing:1px; font-size:100%; }

.section { padding-top:40px; }

/* HEADER */

.header { text-transform:uppercase; letter-spacing:1px; }
.header .dropdown-menu > li { text-transform:none; letter-spacing:0px; }

/* SETS */

.text-uppercase { text-transform:uppercase; }

.text-spacing { letter-spacing:2px; }
.text-spacing-x { letter-spacing:4px; }
.text-spacing-xx { letter-spacing:8px; }

/* SAMPLE */

.sample { border:1px solid #dae0e2; padding:10px; }
.sample-preview { padding:20px; }
.sample-description { border-top:1px solid #dae0e2; padding-top:10px; color:#99a3a8; font-size:90%; text-align:center; }
.sample-row { margin-bottom:10px; }

/* COLOR */

.color {  }
.color-swatch { margin-bottom:6px; }
.color-swatch img { display:block; width:100%; }
.color-code p { color:#99a3a8; font-size:90%; }
.color-code p strong { color:#303335; }

/* CONTACTS */

p { color:#99a3a8; font-weight:300; }
p strong { color:#464c4e; }
