/*
* pikock http://www.pikock.com/ , autreplanete http://www.autreplanete.com/ 
*  
**/


// Grays
@gray-darker: #272b2d;
@gray-dark: #464c4e;
@gray: #727a7e;
@gray-light: #aeb9be;
@gray-lighter: #dae0e2;


// Brand Colors
@brand-primary: #2daae1;
@brand-success: #8bc541;
@brand-warning: #ebb522;
@brand-danger: #eb2227;
@brand-info: #aee5fc;


// Scaffolding
@body-bg: #fff;
@text-color: @gray-dark;
@link-color: @brand-primary;
@link-hover-color: darken(@link-color, 15%);
@padding-base-vertical: 6px;
@padding-base-horizontal: 12px;
@padding-large-vertical: 10px;
@padding-large-horizontal: 16px;
@padding-small-vertical: 5px;
@padding-small-horizontal: 10px;
@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;
@line-height-large: 1.33;
@line-height-small: 1.5;
@component-active-bg: @brand-primary;


// Typography
@font-family-sans-serif: Open Sans;
@font-family-serif: PT Serif;
@font-family-monospace: Monaco;
@font-family-base: @font-family-sans-serif;
@font-size-base: 14px;
@font-size-large: ceil(@font-size-base * 1.25);
@font-size-small: ceil(@font-size-base * 0.85);
@font-size-h1: floor((@font-size-base * 2.6));
@font-size-h2: floor((@font-size-base * 2.15));
@font-size-h3: floor((@font-size-base * 1.7));
@font-size-h4: floor((@font-size-base * 1.25));
@font-size-h5: @font-size-base;
@font-size-h6: floor((@font-size-base * 0.85));
@line-height-base: 1.428571429;
@line-height-computed: floor(@font-size-base * @line-height-base);
@headings-font-family: @font-family-base;
@headings-font-weight: 500;
@headings-line-height: 1.1;
@headings-color: inherit;


// Buttons
@btn-font-weight: normal;
@btn-default-color: @gray-darker;
@btn-default-bg: #ffffff;
@btn-default-border: @gray-lighter;
@btn-primary-color: #fff;
@btn-primary-bg: @brand-primary;
@btn-primary-border: darken(@btn-primary-bg, 5%);
@btn-success-color: #fff;
@btn-success-bg: @brand-success;
@btn-success-border: darken(@btn-success-bg, 5%);
@btn-warning-color: #fff;
@btn-warning-bg: @brand-warning;
@btn-warning-border: darken(@btn-warning-bg, 5%);
@btn-danger-color: #fff;
@btn-danger-bg: @brand-danger;
@btn-danger-border: darken(@btn-danger-bg, 5%);
@btn-info-color: #fff;
@btn-info-bg: @brand-info;
@btn-info-border: darken(@btn-info-bg, 5%);
@btn-link-disabled-color: @gray-light;


// Dropdowns
@dropdown-bg: #fff;
@dropdown-border: rgba(0,0,0,.15);
@dropdown-divider-bg: @gray-lighter;
@dropdown-link-active-color: #fff;
@dropdown-link-active-bg: @component-active-bg;
@dropdown-link-color: @gray-dark;
@dropdown-link-hover-color: #fff;
@dropdown-link-hover-bg: @dropdown-link-active-bg;
@dropdown-link-disabled-color: @gray-light;
@dropdown-header-color: @gray-light;
@dropdown-caret-color: #000;


// Forms
@input-bg: #fff;
@input-bg-disabled: @gray-lighter;
@input-color: @gray;
@input-border: @gray-lighter;
@input-border-radius: @border-radius-base;
@input-color-placeholder: @gray-light;
@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-large: (floor(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
@input-height-small: (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);
@legend-color: @gray-dark;
@legend-border-color: @gray-lighter;
@input-group-addon-bg: @gray-lighter;
@input-group-addon-border-color: @input-border;


// Table
@table-cell-padding: 8px;
@table-condensed-cell-padding: 5px;
@table-cell-padding: 8px;
@table-condensed-cell-padding: 5px;
@table-bg: transparent;
@table-bg-accent: #f9f9f9;
@table-bg-hover: #f1f9fc;
@table-bg-active: @table-bg-hover;
@table-border-color: @gray-lighter;


// Navbar
@navbar-height: 50px;
@navbar-margin-bottom: @line-height-computed;
@navbar-default-color: @gray;
@navbar-default-bg: #f7f9f9;
@navbar-default-border: darken(@navbar-default-bg, 6.5%);
@navbar-border-radius: @border-radius-base;
@navbar-padding-horizontal: floor(@grid-gutter-width / 2);
@navbar-padding-vertical: ((@navbar-height - @line-height-computed) / 2);
@navbar-default-link-color: @gray;
@navbar-default-link-hover-color: @gray-darker;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-color: @brand-primary;
@navbar-default-link-active-bg: darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:  #ccc;
@navbar-default-link-disabled-bg: transparent;
@navbar-default-brand-color: @navbar-default-link-color;
@navbar-default-brand-hover-color: darken(@navbar-default-link-color, 10%);
@navbar-default-brand-hover-bg: transparent;
@navbar-default-toggle-hover-bg: @gray-lighter;
@navbar-default-toggle-icon-bar-bg: @gray-dark;
@navbar-default-toggle-border-color: @gray-light;


// Navs Tabs
@nav-link-padding: 10px 15px;
@nav-link-hover-bg: @gray-lighter;
@nav-disabled-link-color: @gray-light;
@nav-disabled-link-hover-color: @gray-light;
@nav-tabs-border-color: @gray-lighter;
@nav-tabs-link-hover-border-color: @gray-lighter;
@nav-tabs-active-link-hover-bg: @body-bg;
@nav-tabs-active-link-hover-color: @gray;
@nav-tabs-active-link-hover-border-color: @gray-lighter;
@nav-tabs-justified-link-border-color: @gray-lighter;
@nav-tabs-justified-active-link-border-color: @body-bg;
@nav-pills-border-radius: @border-radius-base;
@nav-pills-active-link-hover-bg: @component-active-bg;
@nav-pills-active-link-hover-color: #fff;


// Jumbotron
@jumbotron-padding: 30px;
@jumbotron-color: inherit;
@jumbotron-bg: #eaeff0;
@jumbotron-font-size: ceil((@font-size-base * 1.5));


// Pagination
@pagination-bg: #fff;
@pagination-border: #ddd;
@pagination-hover-bg: @gray-lighter;
@pagination-hover-color: @link-hover-color;
@pagination-hover-border: @gray-lighter;
@pagination-active-bg: @brand-primary;
@pagination-active-color: #fff;
@pagination-active-border: @brand-primary;
@pagination-disabled-color: @gray-light;
@pagination-disabled-bg: #fff;
@pagination-disabled-border: @gray-lighter;
@pager-bg: @pagination-bg;
@pager-border: @pagination-border;
@pager-border-radius: 15px;
@pager-hover-bg: @pagination-hover-bg;
@pager-active-bg: @pagination-active-bg;
@pager-active-color: @pagination-active-color;
@pager-bg: @pagination-bg;
@pager-disabled-color: @gray-light;


// Form States
@state-warning-text: #e1b92b;
@state-warning-bg: #f3ecd5;
@state-warning-border: darken(spin(@state-warning-bg, -10), 3%);
@state-danger-text: #971c1f;
@state-danger-bg: #f3d9da;
@state-danger-border: darken(spin(@state-danger-bg, -10), 3%);
@state-success-text: #5f883b;
@state-success-bg: #ddebd0;
@state-success-border: darken(spin(@state-success-bg, -10), 5%);
@state-info-text: #2589b5;
@state-info-bg: #d6ebf4;
@state-info-border: darken(spin(@state-info-bg, -10), 7%);


// ToolTip
@tooltip-max-width: 200px;
@tooltip-color: #fff;
@tooltip-bg: @gray-darker;
@tooltip-arrow-width: 5px;
@tooltip-arrow-color: @tooltip-bg;
@tooltip-opacity: .9;


// Popover
@popover-bg: #fff;
@popover-max-width: 276px;
@popover-border-color: rgba(0,0,0,.2);
@popover-fallback-border-color: @gray-lighter;
@popover-title-bg: darken(@popover-bg, 3%);
@popover-arrow-width: 10px;
@popover-arrow-color: #fff;
@popover-arrow-outer-width: (@popover-arrow-width + 1);
@popover-arrow-outer-color: rgba(0,0,0,.25);
@popover-arrow-outer-fallback-color: @gray;


// List Group
@list-group-bg: #fff;
@list-group-border: @gray-lighter;
@list-group-border-radius: @border-radius-base;
@list-group-hover-bg: @table-bg-hover;
@list-group-active-color: #fff;
@list-group-active-bg: @component-active-bg;
@list-group-active-border: @list-group-active-bg;
@list-group-active-text-color: lighten(@list-group-active-bg, 40%);
@list-group-link-color: @gray;
@list-group-link-heading-color: @gray-darker;


// Sprites
@icon-font-path: '../app/fonts/';
@icon-font-name: glyphicons-halflings-regular;
